<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One Good Thing</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
        <h1 class=""><a href="/profile">One Good Thing</a></h1>
        <span>"Every day may not be good, but there is something good in every day." -Alice Morse Earle</span>
  </body>
</html>
