<%- include('partials/header') -%>


<div class="hero min-h-screen bg-base-100">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="/imgs/cozy-index-pic.jpg" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold text-primary">One Good Thing</h1>
      <p class="py-6 leading-loose">Welcome. One Good Thing is a social app that encourages you to share one good thing that happened to you today. Our hope is to inspire daily gratitude through sharing, community, and reflection.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat lacus eu ante sodales cursus. Pellentesque egestas nulla ac vehicula posuere. Sed dignissim blandit ligula vitae facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur in eros eget ante efficitur laoreet. Donec in sapien nibh. Etiam sem elit, hendrerit sed ullamcorper eget, suscipit eu lorem. Integer malesuada, justo in fringilla sollicitudin, urna augue tristique nunc, euismod rhoncus erat massa vel justo. Aliquam vitae consectetur dui. Maecenas non blandit tellus. Nunc laoreet sed risus in luctus. Aliquam tellus ante, elementum sit amet congue vitae, ultrices.
      </p>
      <a href="/login" class="btn btn-info hover:btn-ghost">Login</a>
      <a href="/signup" class="btn btn-info hover:btn-ghost">Signup</a>
    </div>
  </div>
</div>
    

<%- include('partials/footer') -%>