<%- include('partials/header') -%>


<div class="hero min-h-screen bg-base-100">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="/imgs/icecream.webp" class="text-center max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold text-primary">One Good Thing</h1>
      <p class="py-6 leading-loose pr-40">Welcome. One Good Thing is a social app that encourages you to share one good thing that happened to you today. Our hope is to inspire daily gratitude through sharing, community, and reflection.

     Nunc laoreet sed risus in luctus. Aliquam tellus ante, elementum sit amet congue vitae, ultrices.
      </p>
      <a href="/login" class="btn btn-info hover:btn-ghost">Login</a>
      <a href="/signup" class="btn btn-info hover:btn-ghost">Signup</a>
    </div>
  </div>
</div>
    

<%- include('partials/footer') -%>